a {
    color: black !important;
    text-decoration: none;

}
body {
    font-family: 'Nunito', sans-serif;
}
.p-4 {
    padding: 1rem;
}
nav a {
    padding: .5rem;
}

/* Create a top navigation bar with a black background color  */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(117, 114, 114);
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  color: white;
}

.table-body {
  height: 500px;
  
}
/*             color of buttons in sukurti užduoti                    */
.square {
  height: 130px;
  width: 150px;
  color: #b1a7e0 !important;
}

.sq {
 
  margin: 20px;
  background-color: rgb(81, 80, 160);
  border-radius: 10%;
  
}

.scroll {
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
